extends layout

block content
  div(class= "topnav")
    if (auth)
      a(href= '/signup') Registar
      a(href= '/login') Login
    else
      a(href= '/logout') Logout

  h1 Gestão de recursos educativos
  ul.w3-ul
    li
      a(href='/recursos') Lista de recursos