extends layout

block content
    h2 Login

    button(onclick="document.getElementById('login_modal').style.display='block'" style="width:auto;") Login

    div(id="login_modal" class="modal")
        form(class="modal-content animate" action="/users/login" method="POST")
            div(class="login_img")
                span(onclick="document.getElementById('login_modal').style.display='none'" class="login_close" title="Fechar") &times;
                img(scr="/images/login_avatar.png" alt="Avatar" class="login_avatar")

            div(class="login_container")
                label(for="email")
                    b Email
                input(type="text" name="email" class="login_input" required)
                
                label(for="password")
                    b Password
                input(type="password" name="password" class="login_input" required)

                button(type="submit" class="login_btn") Login

            div(class="login_container" style="background-color:#f1f1f1")
                button(type="button" onclick="document.getElementById('login_modal').style.display='none'" class="login_btn login_cancelbtn") Cancel
                span(class="forgot_passwd")
                    a(href="#") Esqueceste-te da password?